global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 2s

# HAProxy Stats Web Page
frontend stats
    mode http
    bind 0.0.0.0:7000
    stats enable
    stats uri /
    stats refresh 5s

# Port 5000: Write-Only (routes to the current primary)
frontend postgres_write_front
    bind 0.0.0.0:5000
    default_backend postgres_write_back

backend postgres_write_back
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server berlin-patroni1 berlin-patroni1:5432 maxconn 100 check port 8008
    server berlin-patroni2 berlin-patroni2:5432 maxconn 100 check port 8008
    server berlin-patroni3 berlin-patroni3:5432 maxconn 100 check port 8008

# Port 5001: Read-Only (routes to replicas/standbys)
frontend postgres_read_front
    bind 0.0.0.0:5001
    default_backend postgres_read_back

backend postgres_read_back
    mode tcp
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 check port 8008
    server berlin-patroni1 berlin-patroni1:5432 maxconn 100 check port 8008
    server berlin-patroni2 berlin-patroni2:5432 maxconn 100 check port 8008
    server berlin-patroni3 berlin-patroni3:5432 maxconn 100 check port 8008
